body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1 {
    font-size: 20px;
    margin: 0; 
    padding: 0;
}

h2 {
    font-size: 18px;
    margin: 0; 
    padding: 12px 0;
}

form h3 {
    font-size: 14px;
    background: #ececec;
    border: 1px solid #e0e0e0;
    border-left: none;
    border-right: none;
    margin: 0; 
    padding: 12px 0;
    text-align: center;
}

p {
    margin: 0;
    padding: 10px;
}

img {
    border: none;
}

#css-login {
    position: absolute;
    top: 0;
    right: 0;
}

#loginFormDiv {
    background: #dadada;
    padding: 12px;
}

#login-buttons {
    text-align: right;
}

td.label {
    text-align: right;
}

#logo {
    background: #ffffff url('../img/logo3.png') no-repeat center;
    height: 108px;
    margin: 0 auto 0 auto;
    padding: 0;
    font-size: 12px;
}

#logo img {
    margin: 0 0 0 0;
    padding: 0;
}

#logo p {
    margin: 0;
    padding: 4px 0 0 4px;
}

#footer {
    text-align: center;
    font-size: 10px;
}

#wrapper {
    margin: 0;
    padding: 0 0 0 100px;
    text-align: left;
    background: #ffffff url(../img/blurrystaff.jpg) no-repeat center top;
}

.points {
    background: url('../img/star.png') no-repeat center center;
    margin: 0;
    padding: 2px 8px;
}

form th {
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

.clear {
    clear: both;
}

