<% (function (comment_node, user, show_timed_comments) { %>
    <% function comment_block(node) { %>
        <div class="comment">
            <div class="author">
                <span class="username">
                    <% var urls = Player.urls; %>
                    {% include 'username.jst.html' %}
                </span>
                <span class="timestamp">
                    <%= Time.printableTimeSince(node.date_created) %> ago
                </span>
            </div>
            <div class="content">
                <%+ Showdown.instance.makeHtml(node.content) %>
            </div>
            <div class="action">
                <% if (! node.reply_disabled) { %>
                    <a class="reply" href="#">Reply</a>
                <% } %>
                <% if (node.owner.id === user.id) { %>
                    <a class="edit" href="#">Edit</a>
                <% } %>
            </div>
            <% for (var i=0; i<node.children.length; ++i) { %>
                <% var child = node.children[i]; %>
                <% if (child.position === null || show_timed_comments) { %>
                    <% comment_block(child); %>
                <% } %>
            <% } %>
        </div>
    <% }; comment_block(comment_node); %>
<% }(comment_node, user, show_timed_comments)); %>

