<% (function (comment_node, user, show_timed_comments) { %>
    <div class="comment-area">
        <% function comment_block(node) { %>
            <div class="comment" id="comment-<%=node.id%>" data-commentid="<%=node.id%>">
                <div class="author">
                    <span class="username">
                        <%
                            (function () {
                                var urls = Player.urls;
                                var user = node.owner;
                        %>
                            {% include 'username.jst.html' %}
                        <% })(); %>
                    </span>
                    <span class="timestamp">
                        <%= Time.printableTimeSince(node.date_created) %> ago
                    </span>
                </div>
                <% if (node.editing) { %>
                    <div class="edit-content">
                        <textarea rows="15" cols="48"><%=node.content%></textarea>
                        <div class="buttons">
                            <input class="post" type="button" value="Save" />
                            <input class="cancel" type="button" value="Cancel" />
                        </div>
                    </div>
                <% } else { %>
                    <div class="content<% if (node.deleted) { %> deleted<% } %>">
                        <% if (node.deleted) { %>
                            [deleted]
                        <% } else { %>
                            <%+ Showdown.makeHtml(node.content) %>
                        <% } %>
                    </div>
                <% } %>
                <% if (! node.deleted) { %>
                    <div class="action">
                        <% if (user.id && ! node.reply_disabled) { %>
                            <a class="reply" href="#">Reply</a>
                        <% } %>
                        <% if (user.id && node.owner.id === user.id && Time.secondsSince(node.date_created) < {{COMMENT_EDIT_TIME_HOURS}} * 60 * 60 ) { %>
                            <a class="edit" href="#">Edit</a>
                            <a class="delete" href="#">Delete</a>
                        <% } %>
                    </div>
                <% } %>
                <% for (var i=0; i<node.children.length; ++i) { %>
                    <% var child = node.children[i]; %>
                    <% if (child.position === null || show_timed_comments) { %>
                        <% comment_block(child); %>
                    <% } %>
                <% } %>
            </div>
        <% }; comment_block(comment_node); %>
    </div>
<% })(comment_node, user, show_timed_comments); %>

