<% (function (dependency) { %>
    <tr class="<% if (dependency.missing) { %>bad<% } else { %>good<% } %>">
        <td>
            <span class="dep-name"><a href="<%= dependency.full_url %>"><%= dependency.title %></a></span>
        </td>
        <% if (dependency.missing) { %>
            <% if (dependency.external_url) { %>
                <td>
                    <% if (dependency.price === 0) { %>
                        <a class="download" href="<%=dependency.external_url%>">Download (freeware)</a>
                    <% } else { %>
                        <span class="buy"><a href="<%=dependency.external_url%>">Buy for $<%=Player.formatCurrency(dependency.price)%></a></span>
                    <% } %>
                </td>
            <% } %>
            <td>
                <a
                    class="have"
                    href="#"
                    data-plugintype="<%=dependency.plugin_type%>"
                    data-dependencyid="<%=dependency.id%>">I have this</a>
            </td>
        <% } else { %>
            <td>
                <a
                    class="donothave"
                    href="#"
                    data-plugintype="<%=dependency.plugin_type%>"
                    data-dependencyid="<%=dependency.id%>">I don't have this</a>
            </td>
        <% } %>
    </tr>
<% }(dependency)); %>
