<a class="dl-all" href="#" data-songid="<%=song.id%>">Download All Samples + Project File</a>
<hr />
<select id="dl-samples-select" name="s" multiple="multiple">
    <option value="project" selected="selected"><%=Player.fileTitle(song.source_file)%></option>
    <% for (var sample_index=0; sample_index<song.samples.length; ++sample_index) { var sample = song.samples[sample_index]; %>
        <% if (! sample.missing) { %>
            <option value="<%=sample.id%>"><%=sample.title%></option>
        <% } %>
    <% } %>
</select>
<div>
    <a class="dl-selected" href="#" data-songid="<%=song.id%>" title="You can hold Control to select multiple files.">Download Selected Files</a>
</div>
