{% extends 'account/base.html' %}

{% block nav2_password_li_class %}selected{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Change Password</h1>
        {% include 'form_errors.html' %}
        <form action="." method="post">
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Change Password" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
