{% extends 'account/base.html' %}

{% block extra_header %}
    {{ block.super }}
    {% include 'sc_script_framework.html' %}
    <script type="text/javascript">
var user_data = ({% autoescape off %}{{ user_data|fix_ampersands }}{% endautoescape %});
var membership_data = ({% autoescape off %}{{ membership_data|fix_ampersands }}{% endautoescape %});
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tips.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/account_plan.pre.js"></script>
{% endblock %}

{% block nav2_plan_li_class %}selected{% endblock %}

{% block content %}
    {% include 'form_errors.html' %}
    <table class="plan-table">
        <tr>
            <th>
                Current Plan
            </th>
            <th>
                Space Used
            </th>
            <th>
                Bands Used
            </th>
        </tr>
        <tr>
            <td>
                {{ plan.title }}
                {% if plan.usd_per_month == 0 %}
                    <a href="{% url plans %}">Upgrade</a>
                {% else %}
                    <a href="{% url plans %}">Change</a>
                {% endif %}
            </td>
            <td>
                <div id="user-spacemeter">
                    {% include 'loading.html' %}
                </div>
            </td>
            <td>
                <div id="band-count-meter">
                    {% include 'loading.html' %}
                </div>
            </td>
        </tr>
    </table>
    <h2>Bands You Fund</h2>
    <table class="fund-table">
        <tr>
            <th>Band</th>
            <th>Used Space</th>
            <th>Amount Donated {% include 'tips/usingDonationSliders.html' %}</th>
        </tr>
        {% for member in memberships %}
            <tr>
                <td>
                    <a href="{% url workbench.band member.band.id %}">{{ member.band.title }}</a>
                </td>
                <td>
                    <div id="band-spacemeter-{{ member.id }}">
                        {% include 'loading.html' %}
                    </div>
                </td>
                <td class="slider">
                    <div id="amt-donated-{{ member.id }}"></div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="form-buttons">
        <form action="." method="post">
            <fieldset>
                {% for member in memberships %}
                    <input type="hidden" id="member-{{ member.id }}-amt" name="member-{{ member.id }}-amt" value="{{ member.space_donated }}" />
                {% endfor %}
                <input type="button" value="Reset" id="reset-button" />
                <input type="submit" value="Save" id="save-button" />
            </fieldset>
        </form>
    </div>
{% endblock %}
