{% extends 'tip.html' %}

{% block content %}
    <p>
        SolidComposer keeps track of your samples so that 
    </p>
    <ol>
        <li>Your band members always have the files they need to work on the project.</li>
        <li>You can't ever lose the ability to work on your own songs.</li>
    </ol>
    <p>
        To save time, you can upload a .zip file containing all the samples.
    </p>
    <p>
        Some studios, like FL Studio, support exporting a .zip file which you can
        directly upload to SolidComposer. This .zip file will include the project
        file <em>and</em> its sample files, so you would never have to deal with this extra step.
    </p>
    <p>
        Nobody but you and your band members have access to the samples you upload.
    </p>
{% endblock %}
