{% extends 'tip.html' %}

{% block content %}
    <p>
        Select the project file from your computer here. For example, if you use
        FL Studio, this would be the .flp file.
    </p>
    <p>
        To save time, you can upload a .zip file containing the project file and the samples
        that the project uses all in one.
    </p>
    <p>
        Some studios, like FL Studio, support exporting a .zip file which you can
        directly upload to SolidComposer.
    </p>
    <p>
        Nobody but you and your band members have access to your project files.
    </p>
{% endblock %}
