<p>
    Hey {{ user.username }},
</p>
<p>
    The new SolidComposer is here!
</p>
<ul>
    <li><a href="http://solidcomposer.com/article/whats-new-boten-anna/">What's New</a></li>
    <li><a href="http://solidcomposer.com/article/introducing-solidcomposer/">Introducing the Workbench</a></li>
</ul>
<p>
    If you're socially inclined:
</p>
<ul>
    <li><a href="http://www.facebook.com/pages/SolidComposer/122046227844475">SolidComposer on Facebook</a></li>
    <li><a href="http://twitter.com/solidcomposer">SolidComposer on Twitter</a></li>
</ul>
<p>
    Since you were a part of the beta, you get:
</p>
<ul>
    <li>1GB into your account</li>
    <li>1GB into your solo band</li>
    <li>8 free bands</li>
</ul>
<p>
    Thanks for trying it out!
</p>
<div class="footer">
    <p>
        Love,<br>
        solidcomposer.com
    </p>
    <p>
        <font size="10px"><a href="http://solidcomposer.com/account/email/">unsubscribe</a></font>
    </p>
</div>
