<% if (json.compo.have_theme || json.compo.have_rules) { %>
    <div id="infowrapper">
    <% if (json.compo.have_theme) { %>
        <div id="theme">
            <h3>Theme
            <span class="showhide">(<a href="#"><% if (theme_shown) { %>hide<% } else { %>show<% } %></a>)</span></h3>
            <p<% if (! theme_shown) { %> style="display: none;"<% } %>>
            <% if (json.compo.preview_theme) { %>
                <%= json.compo.theme %>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    The theme will be announced as soon as the competition starts.
                <% } else { %>
                    <%= json.compo.theme %>
                <% } %>
            <% } %>
            </p>
        </div>
    <% } %>
    <% if (json.compo.have_rules) { %>
        <div id="rules">
            <h3>Rules
            <span class="showhide">(<a href="#"><% if (rules_shown) { %>hide<% } else { %>show<% } %></a>)</span></h3>
            <p<% if (! rules_shown) { %> style="display: none;"<% } %>>
            <% if (json.compo.preview_rules) { %>
                <%= json.compo.rules %>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    The rules will be announced as soon as the competition starts.
                <% } else { %>
                    <%= json.compo.rules %>
                <% } %>
            <% } %>
            </p>
        </div>
    <% } %>
    <div class="clear"></div>
    </div>
<% } %>
