<div class="compo">
    <% if (jst_compo.user_entered && jst_compo.vote_count > 0) { %>
        <span class="vote-count">
            <img src="{{ MEDIA_URL }}img/thumbsup.png" alt="+" /><%= jst_compo.vote_count %>
        </span>
    <% } %>
    <h4><a href="<%=urls.compete(jst_compo.id)%>" id="compo-<%= jst_compo.id %>-view"><%= jst_compo.title %></a></h4>
    <% if (Time.secondsUntil(jst_compo.start_date) > 0) { %>
        <p>starts in <%= Time.printableTimeUntil(jst_compo.start_date) %></p>
    <% } else if (Time.secondsUntil(jst_compo.submit_deadline) > 0) { %>
        <p>submission deadline in <%= Time.printableTimeUntil(jst_compo.submit_deadline) %></p>
    <% } else if (jst_compo.have_listening_party && Time.secondsUntil(jst_compo.listening_party_end_date) > 0) { %>
        <% if (Time.localTime(jst_compo.listening_party_start_date) > (new Date())) { %> 
            <p>listening party starting in
            <%= Time.printableTimeUntil(jst_compo.listening_party_start_date) %>
            </p>
        <% } else { %>
            <p>Listening party
            (<%= Time.timeDisplaySince(jst_compo.listening_party_start_date) %> / 
            <%= Time.timeDisplayUntil(jst_compo.listening_party_end_date) %>)</p>
        <% } %>
    <% } else if (Time.secondsUntil(jst_compo.vote_deadline) > 0) { %>
        <p>voting ends in <%= Time.printableTimeUntil(jst_compo.vote_deadline) %></p>
    <% } else { %>
        <p>ended on <%= Time.formatDate(Time.localTime(jst_compo.submit_deadline)) %></p>
    <% } %>
    <div class="compo-links">
        <a href="<%=urls.compete(jst_compo.id)%>" id="compo-<%= jst_compo.id %>-view">view</a>
        <% if (user.is_authenticated) { %>
            <% if (jst_compo.bookmarked) { %>
                <a href="#" id="compo-<%= jst_compo.id %>-remove"><img src="{{ MEDIA_URL }}img/close.png" alt="">remove</a>
            <% } else { %>
                <a href="#" id="compo-<%= jst_compo.id %>-bookmark"><img src="{{ MEDIA_URL }}img/favorite.png" alt="" />join</a>
            <% } %>
        <% } %>
    </div>
</div>
