<% if (json.compo.have_theme || json.compo.have_rules) { %>
    <div id="infowrapper">
    <% if (json.compo.have_theme) { %>
        <div id="theme">
            <h3>Theme</h3>
            <% if (json.compo.preview_theme) { %>
                <p><%= json.compo.theme %></p>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    <p>
                    The theme will be announced as soon as the competition starts.
                    </p>
                <% } else { %>
                    <p><%= json.compo.theme %></p>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <% if (json.compo.have_rules) { %>
        <div id="rules">
            <h3>Rules</h3>
            <% if (json.compo.preview_rules) { %>
                <p><%= json.compo.rules %></p>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    <p>
                    The rules will be announced as soon as the competition starts.
                    </p>
                <% } else { %>
                    <p><%= json.compo.rules %></p>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <div class="clear"></div>
    </div>
<% } %>
