{% extends 'arena/base.html' %}

{% block title %}{{ competition.title }} - {{ block.super }}{% endblock %}

{% block css %}competition.css{% endblock %}

{% block extra_header %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/webtoolkit.aim.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jplayer-1.1.0.min.js"></script>
    <script type="text/javascript">
var competition_id = {{ competition.id }};
var chatroom_id = {% if competition.chat_room %}{{ competition.chat_room.id }}{% else %}null{% endif %};
var MEDIA_URL = "{{ MEDIA_URL }}";
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/time.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/login.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/chat.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/competition.js"></script>
{% endblock %}

{% block extra_body %}
    <div id="jplayer"></div>
{% endblock %}

{% block content %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        <a href="{% url arena.home %}">Arena</a>
        &gt;
        <span class="dest">{{ competition.title }}</span>
    </div>
    <div id="css-status">
        <h1>{{ competition.title }}</h1>
        <div id="status">
            {% include 'loading.html' %}
        </div>
        <div id="vote-status">
            {% include 'loading.html' %}
        </div>
    </div>
    <div id="info">
        {% include 'loading.html' %}
    </div>
    <div class="clear"></div>
    <div id="entry-chat-wrapper">
        <div id="entry-area">
            {% include 'loading.html' %}
        </div>
        <div id="chatroom-outer">
            {% include 'chat/chatroom.html' %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div style="display: none;" id="submission">
        <h4>Your entry</h4>
        <div id="submit-entry">
            <form id="submission-form" method="post" enctype="multipart/form-data" action="/arena/ajax/submit-entry/" onsubmit="return AIM.submit(this, {'onStart': SCCompo.submitEntryStartCallback, 'onComplete': SCCompo.submitEntryCompleteCallback})">
            <fieldset>
            <input type="hidden" name="compo" value="{{ competition.id }}" />
                <table>
                <tr>
                <th><label for="entry-file-mp3">Your rendered song, in mp3 format:</label></th>
                <td><input type="file" name="entry-file-mp3" id="entry-file-mp3" /></td>
                </tr>
                <tr>
                <th><label for="entry-file-source">(optional) Source project file:</label></th>
                <td><input type="file" name="entry-file-source" id="entry-file-source" /></td>
                </tr>
                <tr>
                <th><label for="entry-title">Song Title:</label></th>
                <td><input type="text" id="entry-title" name="entry-title" value="" maxlength="100" /></td>
                </tr>
                <tr>
                <th><label for="entry-comments">(optional) Author's Comments:</label></th>
                <td><textarea rows="10" cols="80" name="entry-comments" id="entry-comments"></textarea></td>
                </tr>
                <tr>
                <td></td>
                <td><input type="submit" value="submit" /></td>
                </tr>
                </table>
            </fieldset>
            </form>
        </div>
    </div>
    <div id="current-entry">
        {% include 'loading.html' %}
    </div>
{% endblock %}

