<% if (json.compo.have_theme || json.compo.have_rules) { %>
    <div id="infowrapper">
    <% if (json.compo.have_theme) { %>
        <div id="theme">
            <h3>Theme
            <span class="showhide">(<a href="#"><% if (theme_shown) { %>hide<% } else { %>show<% } %></a>)</span></h3>
            <div class="container"
                <% if (! theme_shown) { %> style="display: none;"<% } %>
            >
            <% if (json.compo.preview_theme) { %>
                <%+ Showdown.makeHtml(json.compo.theme) %>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    The theme will be announced as soon as the competition starts.
                <% } else { %>
                    <%+ Showdown.makeHtml(json.compo.theme) %>
                <% } %>
            <% } %>
            </div>
        </div>
    <% } %>
    <% if (json.compo.have_rules) { %>
        <div id="rules">
            <h3>Rules
            <span class="showhide">(<a href="#"><% if (rules_shown) { %>hide<% } else { %>show<% } %></a>)</span></h3>
            <div class="container"
                <% if (! rules_shown) { %> style="display: none;"<% } %>
            >
            <% if (json.compo.preview_rules) { %>
                <%+ Showdown.makeHtml(json.compo.rules) %>
            <% } else { %>
                <% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
                    The rules will be announced as soon as the competition starts.
                <% } else { %>
                    <%+ Showdown.makeHtml(json.compo.rules) %>
                <% } %>
            <% } %>
            </div>
        </div>
    <% } %>
    <div class="clear"></div>
    </div>
<% } %>
