<% if (Time.secondsUntil(json.compo.start_date) > 0) { %>
    <p>starting in <%= Time.printableTimeUntil(json.compo.start_date) %></p>
<% } else if (Time.secondsUntil(json.compo.submit_deadline) > 0) { %>
    <p>In progress. You have <%= Time.printableTimeUntil(json.compo.submit_deadline) %> left.</p>
<% } else if (json.compo.have_listening_party && Time.secondsUntil(json.compo.listening_party_end_date) > 0) { %>
    <% if (Time.localTime(json.compo.listening_party_start_date) > (new Date())) { %> 
        <p>listening party starting in
        <%= Time.printableTimeUntil(json.compo.listening_party_start_date) %>
        </p>
    <% } else { %>
        <p>Listening party
        (<%= Time.timeDisplaySince(json.compo.listening_party_start_date) %> / 
        <%= Time.timeDisplayUntil(json.compo.listening_party_end_date) %>)</p>
    <% } %>
<% } else if (Time.secondsUntil(json.compo.vote_deadline) > 0) { %>
    <p>voting ends in <%= Time.printableTimeUntil(json.compo.vote_deadline) %></p>
<% } else { %>
    <p>ended on <%= Time.formatDateTime(Time.localTime(json.compo.submit_deadline)) %></p>
    <% if (json.compo.user_entered) { %>
        <p>you got <%= json.compo.vote_count %> votes</p>
    <% } %>
<% } %>
