<% if (SCCompo.ongoingListeningParty()) { %>
    <% if (json.party.track_position < 0) { %>
        <div id="track">
            Buffering... <%= json.party.entry.song.band.title %> - <%= json.party.entry.song.title  %> - <%= -Math.ceil(json.party.track_position) %>s
        </div>
    <% } else { %>
        <div id="track">
            <div class="track-top">
                <a href="{{ MEDIA_URL }}<%=json.party.entry.song.mp3_file%>">Download MP3</a>
                <% if (json.party.entry.song.source_file) { %>
                    <a href="{{ MEDIA_URL }}<%=json.party.entry.song.source_file%>">Download Source</a>
                <% } %>
            </div>
            <div class="track-middle">
                <% if (muted) { %>
                    <a href="#" class="mute-button" id="unmute">unmute</a>
                <% } else { %>
                    <a href="#" class="mute-button" id="mute">mute</a>
                <% } %>
                <% if (json.party.entry.song.waveform_img) { %>
                    <img src="{{ MEDIA_URL }}json.party.entry.song.waveform_img" alt="" />
                <% } %>
            </div>
            <div class="track-bottom">
            Currently playing: <%= json.party.entry.song.band.title %> - <%= json.party.entry.song.title  %>
            <%= Time.timeDisplay(json.party.track_position) %> / 
            <%= Time.timeDisplay(json.party.entry.song.length) %>
            </div>
        </div>
    <% } %>
    <% if (json.party.entry.song.comments) { %>
        <div id="track-info">
            <h4>Author Comments</h4>
            <p>
                <%= json.party.entry.song.comments %>
            </p>
        </div>
    <% } %>
<% } else if (SCCompo.votingActive() || SCCompo.compoClosed()) { %>
    <% if (current_track.entry) { %>
        <div id="track">
            Currently playing: <%= current_track.entry.song.band.title %> -
            <%= current_track.entry.song.title  %>
            <%= Time.timeDisplay(current_track.track_position) %> / 
            <%= Time.timeDisplay(current_track.entry.song.length) %>
        </div>
        <% if (current_track.entry.song.comments) { %>
            <div id="track-info">
                <h4>Author Comments</h4>
                <p>
                    <%= current_track.entry.song.comments %>
                </p>
            </div>
        <% } %>
    <% } %>
<% } %>
