{% extends 'arena/base.html' %}

{% block extra_header %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/login.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/arena/home.pre.js"></script>
{% endblock %}

{% block tools %}
    {{ block.super }}
    <li class="plus"><a href="{% url arena.create %}">Create a Competition</a></li>
{% endblock %}

{% block bread_arena %}
    <span class="dest">Arena</span>
{% endblock %}

{% block content %}
    <div id="compowrapper">
        <div id="owned">
            {% include 'loading.html' %}
        </div>
        <div id="available">
            {% include 'loading.html' %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

