{% extends 'arena/arena_base.html' %}

{% block extra_header %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/time.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/login.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/arena.js"></script>
{% endblock %}

{% block content %}
    {% include 'login_div.html' %}
    <h1>Arena</h1>
    <div id="create">
        <a href="/arena/create/">Create a Competition</a>
    </div>
    <div id="owned">
    {% include 'loading.html' %}
    </div>
    <div id="available">
    {% include 'loading.html' %}
    </div>
    <div class="clear"></div>
{% endblock %}

