<h4>Competition Chat</h4>
<div id="chat-box">
    <% for (var i=0; i<messages.length; ++i) { var msg = messages[i]; %>
        <% if (msg.type == MESSAGE) { %>
            <div class="msg">
                <%= prettyTime(msg.timestamp) %> <%= msg.author.username %>: <%= msg.message %>
            </div>
        <% } else if (msg.type == JOIN) { %>
            <div class="join">
                <%= prettyTime(msg.timestamp) %> <%= msg.author.username %> has joined.
            </div>
        <% } else if (msg.type == LEAVE) { %>
            <div class="leave">
                <%= prettyTime(msg.timestamp) %> <%= msg.author.username %> has left.
            </div>
        <% } else if (msg.type == ACTION) { %>
            <div class="action">
                <%= prettyTime(msg.timestamp) %> * <%= msg.author.username %> <%= msg.message %>
            </div>
        <% } %>
    <% } %>
</div>
<div id="chat-say">
    <% if (user.is_authenticated) { %>
        <% if (user.has_permission) { %>
            <%= user.username %>: <input type="text" id="chat-say-text" />
        <% } else { %>
            <p>You may only observe in this chat room.</p>
        <% } %>
    <% } else { %>
        <p>Log in to participate in chat.</p>
    <% } %>
</div>
