<% if (Chat.beforeChatRoomActive(room)) { %>
    <p>This chat room will become active in <%= printableTimeUntil(room.start_date) %>.</p>
<% } else { %>
    <% for (var i=0; i<messages.length; ++i) { var msg = messages[i]; %>
        <% if (msg.type == Chat.message_type.MESSAGE) { %>
            <div class="msg">
                <%= Time.prettyTime(msg.timestamp) %> <%= msg.author.username %>: <%= msg.message %>
            </div>
        <% } else if (msg.type == Chat.message_type.JOIN) { %>
            <div class="join">
                <%= Time.prettyTime(msg.timestamp) %> <%= msg.author.username %> has joined.
            </div>
        <% } else if (msg.type == Chat.message_type.LEAVE) { %>
            <div class="leave">
                <%= Time.prettyTime(msg.timestamp) %> <%= msg.author.username %> has left.
            </div>
        <% } else if (msg.type == Chat.message_type.ACTION) { %>
            <div class="action">
                <%= Time.prettyTime(msg.timestamp) %> * <%= msg.author.username %> <%= msg.message %>
            </div>
        <% } %>
    <% } %>
<% } %>
