<div id="chatroom">
    <h4><span class="sub">(<span class="onliner-count">?</span> online)</span>Competition Chat</h4>
    <div id="chatroom-inside">
        <div id="chatroom-inner">
            <div id="chatroom-outer-box">
                {% include 'loading.html' %}
            </div>
            <div id="chat-say-outer">
                <div style="display: none;" id="chatroom-say">
                    {% include 'loading.html' %}
                </div>
                <div style="display: none;" id="chatroom-cannot-say">
                    {% include 'loading.html' %}
                </div>
            </div>
        </div>
        <div id="chatroom-outer-onliners">
            {% include 'loading.html' %}
        </div>
        <div class="clear"></div>
    </div>
</div>
