@import "base.pre.css";
@import "compo-block.pre.css";

h2 {
    margin: 16px 10px;
    padding: 0;
}

#public-competitions {
    float: left;
    clear: none;
    margin: 4px 0 0 24px;
    padding: 0;
}

#my-competitions {
    float: left;
    margin: 4px 0 0 24px;
}

.nav {
    margin: 0 0 24px 0;
}
