@import "base.pre.css";

h1 a {
    font-size: 14px;
    background-image: url(../img/arrow-bullet.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
