body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
}

#wrapper {
    background: #eeeeee;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #24618e;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4079e3;
    margin: 20px 0 8px 0;
    padding: 0;
}

h2 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #d93027;
    margin: 20px 0 8px 0;
    padding: 0;
}

p {
    margin: 0 0 12px 0;
    padding: 0;
}

#whitetop {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

a {
   color: #4a62ff;
   text-decoration: underline;
}

#css-login {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 12px 0 0;
    padding: 0;
}

#loginStatusDiv a {
    margin: 0 0 0 6px;
    padding: 0;
}

#login img {
    vertical-align: middle;
}

.points {
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}

#loginFormDiv {
    background: #dadada;
    padding: 12px;
}

#login-buttons {
    text-align: right;
}

#logo {
    padding: 8px 0 0 12px;
    margin: 0;
}

#tabsJ p {
    float: left;
    font-size: 12px;
    padding: 14px 0 0 16px;
    margin: 0;
}

#footer {
    text-align: center;
    font-size: 10px;
    background: #ffffff;
    margin: 0;
    padding: 10px 0 0 0;
}

div.textblock {
    width: 500px;
    margin: 0 0 0 14px;
    padding: 0 0 12px 0;
}

.textblock form {
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
    border-width: 1px 0;
    padding: 8px;
}

td.label {
    text-align: right;
}

form th {
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

form h3 {
    font-size: 14px;
    background: #e0e0e0;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-right: none;
    margin: 0; 
    padding: 12px 0;
    text-align: center;
}

#bread {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #777777;
    margin: 0;
    padding: 12px;
}

#bread a {
    text-decoration: none;
    color: #0000ff;
}

#bread .dest {
    color: #000000;
}

#tools {
    float: right;
    margin: 8px 14px 0 0;
}

/*- Menu Tabs J--------------------------- */

#tabsJ {
    float:left;
    width:100%;
    background:#ffffff;
    font-size:93%;
    line-height:normal;
    border-bottom:1px solid #24618e;

    ul {
        margin:0;
        padding:10px 10px 0 50%;
        list-style:none;
    }

    li {
        display:inline;
        margin:0;
        padding:0;

        a {
            float:left;
            background:url("../img/tableftJ.gif") no-repeat left top;
            margin:0;
            padding:0 0 0 5px;
            text-decoration:none;

            span {
                float:none;
                display:block;
                background:url("../img/tabrightJ.gif") no-repeat right top;
                padding:5px 15px 4px 6px;
                color:#24618E;
            }

            &:hover {
                background-position:0% -42px;

                span {
                    color:#FFF;
                    background-position:100% -42px;
                }
            }
        }

        .selected a {
            background-position:0% -42px;

            span {
                background-position:100% -42px;
                color:#FFF;
            }
        }
    }
}

