@mixin rounded-corners($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
}

h1 {
    color: #292929;
    margin: 12px 0;
    padding: 0;
}

h2 {
    color: #292929;
}

#wrapper {
    background: #eeeeee;
    margin: 0;
    padding: 0;
    border-top:1px solid #24618e;
    border-bottom:1px solid #24618e;

    ul {
        list-style-type: none;
        margin: 12px 0;
        padding: 0;

        li {
            background-image: url({{ MEDIA_URL }}img/arrow-bullet.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding: 0 0 0 20px;
            margin: 4px 0;
        }
    }
}

p {
    margin: 12px 0;
    padding: 0;
}

#whitetop {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

a {
    color: #4a62ff;
    text-decoration: underline;
}

#header {
    background-color: #292929;
    color: #cacbcc;
    height: 66px;
    width: 100%;

    a {
        color: #cacbcc;
        text-decoration: underline;
    }

    #css-login {
        margin: 20px 12px 0 0;
        padding: 0;

        a {
            margin: 0 0 0 6px;
            padding: 0;
        }
    }

    img {
        vertical-align: middle;
    }

    #logo-a {
        float: left;

        img {
            margin: 4px;
        }
    }

    #nav {
        float: left;

        li {
            display: inline;

            a {
                float: left;
                font-weight: bold;
                font-family: Arial, sans-serif;
                text-decoration: none;
                letter-spacing: 0px;
                border: 2px solid #cacbcc;
                @include rounded-corners(10px);
                margin: 2px 6px 0 0;
                background-repeat: no-repeat;
                background-position: 4px center;

                &:hover {
                    background-color: #cacbcc;
                    color: #292929;
                }

                span {
                    display: block;
                    padding: 6px 6px 6px 24px;
                }
            }
        }

        .workbench a {
            background-image: url({{ MEDIA_URL }}img/headphones-light-14x20.png);

            &:hover {
                background-image: url({{ MEDIA_URL }}img/headphones-dark-14x20.png);
            }
        }
        .arena a {
            background-image: url({{ MEDIA_URL }}img/sword-light-16x20.png);

            &:hover {
                background-image: url({{ MEDIA_URL }}img/sword-dark-16x20.png);
            }
        }

        li.selected a {
            background-color: #cacbcc;
            color: #292929;
        }

        .selected.workbench a {
            background-image: url({{ MEDIA_URL }}img/headphones-dark-14x20.png);
        }

        .selected.arena a {
            background-image: url({{ MEDIA_URL }}img/sword-dark-16x20.png);
        }

    }

}

#header-right {
    float: right;
}

#feedback-div a {
    font-size: 10px;
    color: #639fff !important;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50px;
}

.points {
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}

#loginFormDiv {
    color: #000000;
    background: #dadada;
    padding: 12px;

    a {
        color: #0000ff;
    }
}

#login-buttons {
    text-align: right;
}

#logo {
    padding: 8px 0 0 12px;
    margin: 0;
}

#footer {
    text-align: center;
    font-size: 10px;
    background: #ffffff;
    margin: 0;
    padding: 10px 0 0 0;

    img {
        vertical-align: middle;
    }
}

div.textblock {
    width: 500px;
    margin: 0 0 0 14px;
    padding: 0 0 12px 0;
}

.textblock form {
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
    border-width: 1px 0;
    padding: 8px;
}

td.label {
    text-align: right;
}

form {
    th {
        font-size: 12px;
        font-weight: normal;
        text-align: right;
    }

    h3 {
        font-size: 14px;
        background: #e0e0e0;
        border: 1px solid #d4d4d4;
        border-left: none;
        border-right: none;
        margin: 0; 
        padding: 12px 0;
        text-align: center;
    }
}

#bread {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #777777;
    margin: 0;
    padding: 12px;

    a {
        text-decoration: none;
        color: #0000ff;
    }

    .dest {
        color: #000000;
    }
}

#tools {
    float: right;
    margin: 8px 14px 0 0;
}

ul.errorlist {
    list-style-type: none;
    padding: 4px;
    margin: 0;
    li {
        background-image: url({{ MEDIA_URL }}img/error.png) !important;
        background-repeat: no-repeat;
        background-position: left center;
        padding: 0 0 0 20px;
    }
}

p.err {
    color: #c01212;
    font-weight: bold;
    background-image: url({{ MEDIA_URL }}img/error.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 0 20px;
}

#tip-dialog {
    h1 {
        font-size: 1.4em;
    }
}

.tip a {
    background-image: url({{ MEDIA_URL }}img/tip-16x16.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 0 18px;
}
