#chatroom {
    float: left;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;

    table {
        border-collapse: collapse;
        height: 100%;
        width: 100%;
        table-layout: fixed;

        .ts {
            color: #5b5b5b;
            margin: 0;
            padding: 0 0 0 2px;
            text-align: left;
            vertical-align: top;
            width: 86px;
            white-space: nowrap;
        }

        .name {
            text-align: right;
            vertical-align: top;
            border-right: 1px solid #98a1be;
            margin: 0;
            padding: 0 2px 0 0;
            width: 120px;
            white-space: nowrap;
        }

        .imsg {
            vertical-align: top;
            margin: 0;
            padding: 0 0 0 2px;
            word-wrap: break-word;
        }

        .header {
            background: #d6d6d6;
            text-align: center;

            td.imsg {
                padding: 4px;
                font-weight: bold;
                color: #5a5a5a;
            }
        }

        .lastmsg {
            height: 100%;
        }

        .join {
            .name, .imsg {
                color: #08701A;
                font-weight: bold;
            }
        }

        .leave {
            .name, .imsg {
                color: #70573F;
                font-weight: bold;
            }
        }

        .highlight {
            .name, .imsg {
                color: #8c2223;
                font-weight: bold;
            }
        }

        .action {
            .name, .imsg {
                color: #ca8dd9;
                font-weight: bold;
            }
        }
    }
}

#chatroom-outer-box {
    width: 500px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatroom-inner {
    float: left;
    border-right: 1px solid #b3b3b3;
}

#chatroom-inside {
    border: 1px solid #b3b3b3;
    background: #e3e3e3;
}

#chat-say-outer {
    margin: 0;
    padding: 0;
    border-top: 1px solid #b3b3b3;
}

#chatroom-say {
    width: 500px;
}

#chat-say-text {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
    border: none;
    width: 100%;
}

#chatroom-outer-onliners {
    float: left;
    width: 150px;
    height: 320px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.onliner {
    padding: 4px;

    img {
        vertical-align: middle;
        height: 20px;
    }

    .xamt {
        font-weight: bold;
        font-family: Arial, Verdana, sans-serif;
    }
}
