@import "base.pre.css";
@import "chat.pre.css";
@import "songplayer.pre.css";

#wrapper {
    border-top: none;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #4079e3;
    margin: 0;
    padding: 4px 0 8px 0;
    text-align: center;
}

h3 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    background: #134d77 url("../img/light-title.png") repeat-x left top;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 5px 0 6px 4px;

    .sub {
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        float: right;
        font-weight: normal;
        margin: 0;
        padding: 0 8px 0 0;
    }
}

#css-status {
    background: #e3e3e3;
    border: 1px solid #adc2d1;
    border-width: 1px 0;
    margin: 0 100px 16px 0;
    padding: 0;
    width: 100%;
}

#status {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 0 8px 0;
    color: #d9302a;
}

#vote-status {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 0 8px 0;

    img {
        vertical-align: bottom;
    }

    .xamt {
        font-weight: bold;
        font-size: 16px;
    }
}

#infowrapper {
    margin: 0 auto 16px auto;
    padding: 0;
    max-width: 900px;
}

#entry-chat-wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1130px;
}

#theme, #rules {
    float: left;
    width: 400px;
    background: #e3e3e3;
    border: 1px solid #adc2d1;
    margin: 8px;
    padding: 12px;
}

#infowrapper .showhide {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

#entry-area {
    float: left;
    margin: 0 8px 14px 8px;
    padding: 0;
    background: #242424;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#entries-inside {
    overflow: auto;
    width: 360px;
    height: 300px;

    .track {
        overflow-y: hidden;
    }

    .entry .track {
        color: #ffffff;
        text-decoration: none;
        display: block;
        height: 32px;
        padding: 10px 0 0 8px;
        margin: 0;
    }

    .entry-user .track {
        color: #000000;
        background: #dbe4ff;
    }

    .entry-playing .track {
        background: #ffb52b;
        color: #000000;
    }

    .workbench-link {
        font-weight: bold;
        color: #9bb6ff;
        float: right;
    }
}

#entries {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .voting {
        background: #343434;
    }

    .entrytd {
        width: 100%;
    }
}

.entry-vote-box {
    display: block;
    margin: 0;
    padding: 10px 0 0 8px;
    height: 32px;

    a {
        background-repeat: no-repeat;
        background-position: center center;
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 8px 0 0;
        padding: 0;
    }

    .voted a {
        background-image: url("../img/thumbsup.png");

        &:hover {
            background-image: url("../img/nothumbsup.png");
        }
    }

    .unvoted a {
        background-image: url("../img/thumbsup-gray.png");

        &:hover {
            background-image: url("../img/thumbsup.png");
        }
    }
}


.entry .len, .entry-playing .len {
    float: right;
    margin: 0;
    padding: 4px 8px 0 0;
}

.entry .len {
    color: #5d5d5d;
}

.entry-playing .len {
    color: #bd8620;
}

.entry img, .entry-playing img {
    vertical-align: middle;
}

.entry .votes, .entry-playing .votes {
    margin: 0 0 0 10px;
}

.votes .xamt {
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
}

#chatroom {
    margin: 0 0 14px 8px;
    padding: 0;
}

#submission {
    clear: both;
    margin: 0 auto 14px auto;
    padding: 0;
    width: 850px;
}

#submit-entry {
    margin: 0;
    padding: 4px 0 0 4px;
    border: 1px solid #adc2d1;
}

#song-player {
    padding: 0;
    margin: 0 auto 14px auto;
    max-width: 950px;
}

