$waveform_width: {{ WAVEFORM_WIDTH }}px;
$waveform_height: {{ WAVEFORM_HEIGHT }}px;
$timed_comment_size: {{ TIMED_COMMENT_SIZE }}px;
$volume_icon_size: {{ VOLUME_ICON_SIZE }}px;

$top_layer_icon_size: 16px;
$button_area_width: 90px;

$play_icon: "{{ PLAYER_PLAY_ICON }}";
$pause_icon: "{{ PLAYER_PAUSE_ICON }}";
$play_icon_small: "{{ PLAYER_PLAY_ICON_SMALL }}";
$pause_icon_small: "{{ PLAYER_PAUSE_ICON_SMALL }}";

/* colors */
$border_color: #c7c7c7;

/* fonts */
$verdana: Verdana, Arial, sans-serif;
$arial: Arial, Verdana, sans-serif;

/* calculated stuff */
$top_layer_height: $top_layer_icon_size + 3px;
$comments_layer_height: $timed_comment_size + 1px;

{% include 'css/mixins.scss' %}

.player-large {
    border: 1px solid $border_color;
    background: #ebebeb;
    width: 914px;
    height: $top_layer_height + $waveform_height $comments_layer_height + 2px;
    font-family: $verdana;
    font-size: 12px;

    a {
        color: #3049ff;
        text-decoration: underline;
    }

    .top-layer {
        width: 100%;
        height: $top_layer_height;
        border-bottom: 1px solid $border_color;

        a {
            float: right;
            display: block;
            border-left: 1px solid $border_color;
            padding: 2px;
            background-repeat: no-repeat;
            background-position: right center;
        }
    }

    .dl-mp3 a {
        margin: 0 2px 0 0;
        padding: 2px 12px 2px 2px;
        background-image: url("../img/note16.png");
    }

    .dl-samples a {
        margin: 0 2px 0 0;
        padding: 2px 16px 2px 2px;
        background-image: url("../img/dl-zip16.png");
    }

    .dependencies {
        .good a {
            margin: 0 2px 0 0;
            padding: 2px 18px 2px 2px;
            background-image: url("../img/check16.png");
        }

        .bad a {
            margin: 0 2px 0 0;
            padding: 2px 18px 2px 2px;
            background-image: url("../img/warning16.png");
        }
    }

    .dl-project .icon a {
        margin: 0 2px 0 0;
        padding: 2px 17px 2px 2px;
    }

    .top-layer .title {
        padding: 2px;
    }

    .bottom-layer {
        height: $waveform_height + $comments_layer_height;
    }

    .button-wrapper {
        float: left;
    }

    .button-layer {
        float: left;
        width: $button_area_width - 1px;
        height: $waveform_height;
        border-right: 1px solid $border_color;

        a {
            display: block;
            width: 64px;
            height: 64px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 8px auto 0;

            @include opacity(0.90);

            &:hover {
                @include opacity(1.00);
            }
        }

        .play a {
            background-image: url("../img/" + $play_icon);
        }

        .pause a {
            background-image: url("../img/" + $pause_icon);
        }

        .disabled {
            a, a:hover {
                @include opacity(0.20);
            }
        }

        .time {
            text-align: center;
            margin: 8px 0 0 0;
        }

    }

    .below-button {
        border-top: 1px solid $border_color;
        border-right: 1px solid $border_color;
        background: url("../img/comments-gradient-light.png") repeat-x;

        .wrap {
            margin: 0 0 0 24px;
            height: $timed_comment_size;

            a {
                margin: 2px 0 0 0;
                float: left;
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                width: 16px;
                height: 16px;

            }

            .on a {
                background-image: url("../img/chat-bubble16.png");

                &:hover {
                    background-image: url("../img/chat-bubble-x16.png");
                }
            }

            .off a {
                background-image: url("../img/chat-bubble-x16.png");

                &:hover {
                    background-image: url("../img/chat-bubble16.png");
                }
            }

            .xamt {
                float: left;
                padding: 0 0 0 4px;
                margin: 4px 0 0 0;
                font-weight: bold;
                font-family: $arial;
                font-size: 10px;
            }
        }
    }

    .not-button-layer {
        float: left;
    }

    .wave-layer {
        float: left;
    }

    .wave {
        display: block;
        width: $waveform_width;
        height: $waveform_height;
    }

    .wave-outer {
        display: block;
        width: $waveform_width;
        height: $waveform_height;
        border-bottom: 1px solid $border_color;
    }

    .overlay {
        background: #000000;
        @include opacity(0.50);
        width: 100%;
        height: 100%;
    }

    .overlay-border {
        height: 100%;
        border-right: 1px solid #1b3280;
    }

    .right-layer {
        float: left;
        height: $waveform_height;

        .volume {
            height: $waveform_height;
            width: $volume_icon_size - 1px; /* subtract the border width */
            border-bottom: 1px solid $border_color;
            border-left: 1px solid $border_color;
            background-image: url("../img/volume-bar.png");
            background-repeat: no-repeat;
            background-position: center center;

            span.icon {
                display: block;
                width: $volume_icon_size;
                height: $volume_icon_size;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                top: 0;
            }

            .bar3 span.icon {
                background-image: url("../img/volume24-3bar.png");
            }

            .bar2 span.icon {
                background-image: url("../img/volume24-2bar.png");
            }

            .bar1 span.icon {
                background-image: url("../img/volume24-1bar.png");
            }

            .bar0 span.icon {
                background-image: url("../img/volume24-0bar.png");
            }

            .mute span.icon {
                background-image: url("../img/volume24-mute.png");
            }
        }
    }


    .timed-comments {
        clear: both;
        width: 100%;

        ol {
            display: block;
            margin: 0;
            padding: 0;
            cursor: pointer;
            background: url("../img/comments-gradient-light.png") repeat-x;
            width: 100%;
            height: $comments_layer_height;
            position: relative;

            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: absolute;
                width: $timed_comment_size;
                height: $timed_comment_size;

                a {
                    float: left;
                    display: block;
                    width: $timed_comment_size;
                    height: $timed_comment_size;
                }

                div.marker {
                    $marker_height: $waveform_height + 1px;
                    position: absolute;
                    top: -$marker_height;
                    width: 1px;
                    height: $marker_height;
                    background: #053867;
                }
            }
        }
    }
}

.player-small {
    .button {
        float: left;

        a {
            display: block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 4px 0 -5px;

            @include opacity(0.90);

            &:hover {
                @include opacity(1.00);
            }
        }

        .play a {
            background-image: url("../img/" + $play_icon_small);
        }

        .pause a {
            background-image: url("../img/" + $pause_icon_small);
        }
    }

    .link {
        float: left;
    }
}

.comment-ui, .edit-content {
    textarea {
        width: 300px;
        height: 150px;
    }
}

#insert-comment-dialog {
    textarea {
        width: 200px;
        height: 100px;
    }
}

.comment-area {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding: 0 0 10px;

    .comment {
        margin: 12px 12px 0 12px;
        padding: 0 10px;
        border-left: 2px dashed #cccccc;

        .timestamp {
            color: #808080;
        }

        h1 {
            font-size: 24px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #292929;
            background: none;
            font-weight: bold;
            margin: 0;
            padding: 14px 0;
        }

        p {

        }

        a {

        }

        code {

        }

        hr {

        }

        ul {
            li {
                
            }
        }

        ol {
            li {

            }
        }

        blockquote {

        }

        pre {

        }

        img {

        }
        strike {

        }
        u {

        }
    }
}

#comment-dialog {
    .comment-area {
        background-color: #0e0e0e;
        border-color: #2f2f2f;

        .comment {
            border-color: #2f2f2f;

            .timestamp {
                color: #808080;
            }

            h1, h2, h3, h4, h5, h6 {
                color: #cacbcc;
            }

        }
    }

}

#dl-samples-dialog {
    padding: 15px 10px 10px 10px;

    .dl-all, .dl-selected {
        background-image: url(../img/dl-zip-32x32.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding: 16px 0 16px 32px;
        margin: 0;
        color: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    hr {
        margin: 20px 0;
    }
    select {
        margin: 0 0 15px;
        max-width: 400px;
        max-height: 200px;
    }
    .dl-selected {

    }
}

#dependencies-dialog {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;

    h4 {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 14px 0;
        padding: 0;
    }

    .dep-name {
        padding: 0 0 0 20px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    td {
        padding: 6px;
    }

    .good .dep-name {
        background-image: url(../img/check16.png);   
    }

    .bad .dep-name {
        background-image: url(../img/missing-16x16.png);   
    }

    a {
        text-decoration: none;
        border-bottom: 2px dotted #ffffff;
        font-weight: bold;
    }

    .buy {
        a {
            border-color: #2EFF38;
            color: #2EFF38;
        }
        padding: 0 0 0 16px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(../img/dollar.png);   
    }

    .download {
        border-color: #2E8FFF;
        color: #2E8FFF;
    }
}

#insert-comment-dialog {
    padding: 10px;

    textarea {
        width: 250px;
        height: 100px;

        padding: 10px;
    }

    input: {
        margin: 4px;
    }
}
