$waveform_width: {{ WAVEFORM_WIDTH }}px;
$waveform_height: {{ WAVEFORM_HEIGHT }}px;
$timed_comment_size: {{ TIMED_COMMENT_SIZE }}px;
$volume_icon_size: {{ VOLUME_ICON_SIZE }}px;

$top_layer_icon_size: 16px;

$top_layer_height: $top_layer_icon_size + 3px;
$comments_layer_height: $timed_comment_size + 1px;

@mixin opacity($float) {
    opacity: $float;
    filter:alpha(opacity=$float*100);
}

.player-large {
    border: 1px solid #c7c7c7;
    background: #ebebeb;
    width: 914px;
    height: $top_layer_height + $waveform_height $comments_layer_height + 2px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;

    a {
        color: #3049ff;
        text-decoration: underline;
    }

    .top-layer {
        width: 100%;
        height: $top_layer_height;
        border-bottom: 1px solid #c7c7c7;

        a {
            float: right;
            display: block;
            border-left: 1px solid #c7c7c7;
            padding: 2px;
            background-repeat: no-repeat;
            background-position: right center;
        }
    }

    .dl-mp3 a {
        margin: 0 2px 0 0;
        padding: 2px 12px 2px 2px;
        background-image: url("../img/note16.png");
    }

    .dl-samples a {
        margin: 0 2px 0 0;
        padding: 2px 16px 2px 2px;
        background-image: url("../img/dl-zip16.png");
    }

    .dependencies {
        .good a {
            margin: 0 2px 0 0;
            padding: 2px 18px 2px 2px;
            background-image: url("../img/check16.png");
        }

        .bad a {
            margin: 0 2px 0 0;
            padding: 2px 18px 2px 2px;
            background-image: url("../img/warning16.png");
        }
    }

    .dl-project .icon a {
        margin: 0 2px 0 0;
        padding: 2px 17px 2px 2px;
    }

    .top-layer .title {
        padding: 2px;
    }

    .bottom-layer {
        height: $waveform_height + $comments_layer_height;
    }

    .button-layer {
        float: left;
        width: 89px;
        height: 100%;
        background: #dbd5db;
        border-right: 1px solid #c7c7c7;

        a {
            display: block;
            width: 64px;
            height: 64px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 16px auto 0;

            @include opacity(0.90);

            &:hover {
                @include opacity(1.00);
            }
        }

        .play a {
            background-image: url("../img/play-circle64.png");
        }

        .disabled {
            a, a:hover {
                @include opacity(0.20);
            }
        }

        .pause a {
            background-image: url("../img/pause-circle64.png");
        }

        .time {
            text-align: center;
            margin: 8px 0 0 0;
        }

    }

    .wave-layer {
        float: left;
    }

    .wave {
        display: block;
        width: $waveform_width;
        height: $waveform_height;
    }

    .wave-outer {
        display: block;
        width: $waveform_width;
        height: $waveform_height;
        border-bottom: 1px solid #c7c7c7;
    }

    .overlay {
        background: #000000;
        @include opacity(0.50);
        width: 100%;
        height: 100%;
    }

    .overlay-border {
        height: 100%;
        border-right: 1px solid #1b3280;
    }

    .right-layer {
        float: left;
        border-left: 1px solid #c7c7c7;
        height: 100%;

        .volume {
            height: $waveform_height;
            width: $volume_icon_size - 1px;
            border-bottom: 1px solid #c7c7c7;
            background-image: url("../img/volume-bar.png");
            background-repeat: no-repeat;
            background-position: center center;

            span.icon {
                display: block;
                width: $volume_icon_size;
                height: $volume_icon_size;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                top: 0;
            }

            .bar3 span.icon {
                background-image: url("../img/volume24-3bar.png");
            }

            .bar2 span.icon {
                background-image: url("../img/volume24-2bar.png");
            }

            .bar1 span.icon {
                background-image: url("../img/volume24-1bar.png");
            }

            .bar0 span.icon {
                background-image: url("../img/volume24-0bar.png");
            }

            .mute span.icon {
                background-image: url("../img/volume24-mute.png");
            }
        }
    }


    .timed-comments {
        clear: both;

        ol {
            display: block;
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: relative;

                a {
                    display: block;
                    width: $timed_comment_size;
                    height: $timed_comment_size;
                }
            }
        }
    }
}

