@import "base.pre.css";
@import "band-activity.pre.css";

{% include 'css/mixins.scss' %}

.role {
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #6b6b6b;
    padding: 0 6px;
}

#bands {
    margin: 12px;
    float: left;
    width: 400px;

    ul {
        list-style-type: none;
        margin: 0 0 20px;
        padding: 0;

        li.band {
            margin: 8px 0;

            a {
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        li.invite {
            margin: 8px 0;

            .label {
                padding: 4px;
                @include rounded-corners(6px);
                background-color: #4388cc;
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff;
                font-weight: bold;
            }
            
            .band-name {
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .accept, .ignore {
                background-repeat: no-repeat;
                background-position: left center;
                padding: 0 0 0 18px;
                margin: 0 6px;
            }

            .accept {
                background-image: url(../img/check16.png);
            }

            .ignore {
                background-image: url(../img/x-16x16.png);
            }
        }
    }
}

#activity {
    margin: 12px;
    float: left;
    width: 550px;
}

.status {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    .mine, .out, .available {
        padding: 6px;
    }

    .mine {
        background-color: #258F29;
        color: #ffffff;
    }
    .out {
        background-color: #C72520;
        color: #ffffff;
    }
    .available {
        background-color: #ffff00;
        color: #000000;
    }
    .date {
        font-size: 12px;
        color: #696969;
        font-weight: normal;
    }
}
