{% extends 'base.html' %}

{% block title %}About {{ block.super }}{% endblock %}

{% block content %}
<h2>About</h2>
<p>
    SolidComposer is a community for musicians to grow their talents, 
    collaborate on projects, and keep track of their work.
</p>
<h3>Competitions</h3>
<p>
    Participating in some of the ongoing competitions is a great way to 
    hone your skills. Feel free to stick around after the competition and
    share strategies and tricks with other competitors.
</p>
<p>
    More exciting things are planned.
</p>
{% endblock %}
