{% extends 'base.html' %}

{% block title %}About {{ block.super }}{% endblock %}

{% block content %}
<div class="textblock">
    <h1>About</h1>
    <p>
        SolidComposer is a community for musicians to grow their talents, 
        collaborate on projects, and keep track of their work.
    </p>
    <h2>Competitions</h2>
    <p>
        Participating in some of the ongoing competitions is a great way to 
        hone your skills. Feel free to stick around after the competition and
        share strategies and tricks with other competitors.
    </p>
</div>
{% endblock %}
