{% extends 'base.html' %}

{% block title %}Arena - {{ block.super }}{% endblock %}

{% block css %}arena.css{% endblock %}

{% block extra_header %}
    <script type="text/javascript">
var server_time = new Date('{{ server_time }}');
var local_time = new Date();
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstparser-0.2.0.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/arena.js"></script>
{% endblock %}

{% block content %}
    <h1>Arena</h1>
    <div id="create">
        <a href="#">Create a Competition</a>
    </div>
    <div id="login">
    {% include 'loading.html' %}
    </div>
    <div id="available">
    {% include 'loading.html' %}
    </div>
    <div id="owned">
    {% include 'loading.html' %}
    </div>
{% endblock %}

