<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}Open Source Music{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block css %}{{ MEDIA_URL }}css/base.css{% endblock %}" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
{% block extra_header %}{% endblock %}
</head>
<body>
<div id="wrapper">
    {% block content %}
    {% endblock %}
</div>
<div id="copyright">
    &copy; 2010 <a href="http://www.superjoesoftware.com/">Superjoe Software</a>
</div>
</body>
</html>
