<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% spaceless %}
<html>
    <head>
        <title>{% block title %}SolidComposer{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block css %}base.pre.css{% endblock %}" />
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />

        <script type="text/javascript">
var media_url = "{{ MEDIA_URL|escapejs }}";
        </script>
        {% block extra_header %}{% endblock %}
    </head>
    <body>
        {% block extra_body %}{% endblock %}
        <div id="header">
            <div class="wide">
                <a id="logo-a" href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo.png" alt="Solid Composer" /></a>
                <ul id="nav">
                    <li class="workbench {% block nav_workbench_li_class %}unselected{% endblock %}">
                        <a href="{% url workbench.home %}"><span>Workbench</span></a>
                    </li>
                    <li class="arena {% block nav_arena_li_class %}unselected{% endblock %}">
                        <a href="{% url arena.home %}"><span>Arena</span></a>
                    </li>
                </ul>
                <div id="header-right">
                    {% block login %}
                        {% include 'login_area.html' %}
                    {% endblock %}
                    <div id="feedback-div">
                        <a href="http://solidcomposer.uservoice.com/">Feedback</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wide">
            {% block nav2 %}{% endblock %}
        </div>
        <div id="wrapper">
            <div class="clear"></div>
            <div class="wide">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                &copy; 2010 SolidComposer LLC
            </div>
            <div id="footer-links">
                <a href="{% url legal %}">Legal</a> |
                <a href="http://solidcomposer.uservoice.com/">Feedback</a> |
                <a href="{% url contact %}">Contact</a> | 
                <a href="http://twitter.com/solidcomposer" title="Follow SolidComposer on Twitter"><img src="{{ MEDIA_URL }}img/twitter-icon.png" alt="twitter" /></a> |
                <a href="http://www.facebook.com/pages/SolidComposer/122046227844475" title="'Like' SolidComposer on Facebook"><img src="{{ MEDIA_URL }}img/facebook-icon.png" alt="facebook" /></a>
            </div>
        </div>
        {% if not debug %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17160931-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            </script>
        {% endif %}
    </body>
</html>
{% endspaceless %}
