<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}Solid Composer{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block css %}base.pre.css{% endblock %}" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
{% block extra_header %}{% endblock %}
</head>
<body>
<div id="jplayer"></div>
{% block extra_body %}{% endblock %}
{% block login %}
{% include 'login_area.html' %}
{% endblock %}
<div id="logo">
    <a href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo.png" alt="Solid Composer" /></a>
</div>
{% block nav %}
<div id="tabsJ">
    <p>A place for musicians to <strong>compete, collaborate, and learn</strong>.</p>
    <ul>
        <li class="{% block nav_arena_li_class %}unselected{% endblock %}">
            <a href="{% url arena.home %}"><span>Arena</span></a>
        </li>
        <li class="{% block nav_workbench_li_class %}unselected{% endblock %}">
            <a href="{% url workbench.home %}"><span>Workbench</span></a>
        </li>
        <li class="{% block nav_music_li_class %}unselected{% endblock %}">
            <a href="{% url music.home %}"><span>Showcase</span></a>
        </li>
    </ul>
</div>
{% endblock %}
<div id="wrapper">
    <div class="clear"></div>
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    <div id="copyright">
        &copy; 2010 <a href="http://www.superjoesoftware.com/">Superjoe Software</a>
    </div>
    <div id="footer-links">
        <a href="{% url about %}">About</a> | <a href="{% url policy %}">Policy</a>
    </div>
</div>
</body>
</html>
