{% extends 'base.html' %}

{% block title %}Create an account - {{ block.super }}{% endblock %}

{% block extra_header %}
    {{ block.super }}
    {% include 'sc_script_framework.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/register.pre.js"></script>
{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Change account plan</h1>
        {% if err_msg %}
        <p>{{ err_msg }}</p>
        {% endif %}
        <form action="." method="post">
            <table class="form-table">
                <tr>
                    <th>
                        {{ form.plan.label }}:
                    </th>
                    <td>
                        {{ form.plan.errors }}{{ form.plan }} <a href="{% url plans %}">Plan Details</a>
                    </td>
                </tr>
                <tr class="ui-free">
                    <td></td>
                    <td><input type="submit" value="Downgrade to Free Account" /></td>
                </tr>
                <tr class="ui-paid">
                    <td></td>
                    <td><input type="image" src="{{ MEDIA_URL }}img/golden_medium_paynow_withmsg_whitebg.gif" value="Pay with Amazon" /></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
