{% extends 'base.html' %}

{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
<div class="textblock">
    <h1>Contact</h1>
    <p>
        Keep in mind that we have a <a href="http://solidcomposer.uservoice.com/">UserVoice forum</a> set up for bug reports and feature requests.
    </p>
    <p>
        Anything else, go for it!
        <a href="mailto:support@solidcomposer.com">support@solidcomposer.com</a>
    </p>
    <h2>Web Form</h2>
    <p>If that's too much of a pain, you can use this form.</p>
    <form action="." method="post">
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Send" />
            </tr>
        </table>
    </form>
</div>
{% endblock %}
