{% extends 'base.html' %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block css %}dashboard.pre.css{% endblock %}

{% block login %}
    {% include 'login_div.html' %}
{% endblock %}

{% block extra_header %}
    {{ block.super }}
    {% include 'sc_script_framework.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/login.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tips.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/dashboard.pre.js"></script>
{% endblock %}

{% block content %}
    <div id="workbench-block">
        <h2>Recent Band Activity<a href="{% url workbench.home %}">Workbench</a></h2>
        <div id="activity">
            {% include 'loading.html' %}
        </div>
    </div>
    <div id="arena-block">
        <h2>Bookmarked Competitions<a href="{% url arena.home %}">Arena</a></h2>
        <div id="compos">
            {% include 'loading.html' %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
