{% extends 'base.html' %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block css %}dashboard.pre.css{% endblock %}

{% block login %}
    {% include 'login_div.html' %}
{% endblock %}

{% block extra_header %}
    {{ block.super }}
    {% include 'sc_script_framework.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/time.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/login.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tips.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/dashboard.pre.js"></script>
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <h2>Recent Band Activity</h2>
    <p><a href="{% url workbench.home %}">Workbench</a></p>
    <div id="activity">
        {% include 'loading.html' %}
    </div>
    <h2>Bookmarked Competitions</h2>
    <p><a href="{% url arena.home %}">Arena</a></p>
    <div id="compos">
        {% include 'loading.html' %}
    </div>
{% endblock %}
