<li class="<% if (dependency.missing) { %>bad<% } else { %>good<% } %>"
    data-plugintype="<%=dependency.plugin_type%>"
    data-dependencyid="<%=dependency.id%>">
    <a href="<%= dependency.full_url %>"><%= dependency.title %></a>
    <% if (dependency.missing) { %>
        <% if (dependency.external_url) { %>
            <% if (dependency.price === 0) { %>
                <a href="<%=dependency.external_url%>">Download (it's freeware)</a>
            <% } else { %>
                <a href="<%=dependency.external_url%>">Buy for $<%=Player.formatCurrency(dependency.price)%></a>
            <% } %>
        <% } else { %>
            <a href="<%= dependency.full_url %>">Help provide information</a>
        <% } %>
        <a class="have" href="#">I already have this</a>
    <% } else { %>
        <a class="donothave" href="#">I don't have this</a>
    <% } %>
</li>
