{% extends 'base.html' %}

{% block title %}{{ block.super }} - Compete, collaborate, learn{% endblock %}

{% block content %}
    <h1>Unleash the Producer in You.</h1>
    <p>
        <strong>Backup.</strong> SolidComposer keeps track of every version of
        your studio projects so that you can't lose them. <a href="{% url article 'introducing-solidcomposer' %}">How does this work?</a>
    </p>
    <p>
        <strong>Collaborate.</strong> Start a band with anybody! You can invite
        anyone to join your projects. SolidComposer protects you against clobbering
        each other's work. <a href="{% url article 'introducing-solidcomposer' %}">How does this work?</a>
    </p>
    <p>
        <strong>Integrated Studio Support.</strong> FL Studio and LMMS are recognized.
        SolidComposer will make sure you have the samples and generators you need to
        work on projects. <a href="{% url article 'introducing-solidcomposer' %}">How does this work?</a>
    </p>
    <a href="{% url plans %}">Sign up!</a>
{% endblock %}
