{% extends 'base.html' %}

{% block title %}Log in - {{ block.super }}{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Log in</h1>
        {% if err_msg %}
        <p>{{ err_msg }}</p>
        {% endif %}
        <form action="." method="post">
            <table>
                {{ form.as_table }}
                <tr>
                <td></td>
                <td><input type="submit" value="Log in" /></td>
                </tr>
            </table>
        </form>
        <h2>Don't have an account?</h2>
        <p>
            <a href="{% url register %}">Sign up!</a>
        </p>
        <h2>Forgot your password?</h2>
        <p>
            <a href="{% url account.password.reset %}">Reset your password.</a>
        </p>
    </div>
{% endblock %}
