{% extends 'base.html' %}

{% block title %}Log in - {{ block.super }}{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Log in</h1>
        {% include 'form_errors.html' %}
        <form action="." method="post">
            <table>
                {{ form.as_table }}
                <tr>
                <td></td>
                <td><input type="submit" value="Log in" /></td>
                </tr>
            </table>
        </form>
        <ul>
            <li>
                Don't have an account?
                <a href="{% url register %}">Sign up!</a>
            </li>
            <li>
                Forgot your password?
                <a href="{% url account.password.reset %}">Reset your password.</a>
            </li>
        </ul>
    </div>
{% endblock %}
