<div id="css-login">
    <div id="login">
    {% include 'loading.html' %}
    </div>
    <div style="display: none;" id="loginFormDiv" class="ui-widget ui-widget-content">
        <form id="loginForm" action="{% url user_login %}">
            <table>
                <tr>
                    <td class="label">
                        <label for="loginName">Username:</label>
                    </td>
                    <td>
                        <input type="text" id="loginName" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="loginPassword">Password:</label>
                    </td>
                    <td>
                        <input type="password" id="loginPassword" value="" />
                    </td>
                </tr>
            </table>
            <div id="login-buttons">
                <input type="button" id="loginButton" value="Log in" />
                <input type="button" id="cancelLoginButton" value="Cancel" />
            </div>
        </form>
    </div>
</div>
