{% comment %}
    inputs:
        song - the song structure to play
{% endcomment %}
<div class="player-large">
    <div class="top-layer">
        <% if (song.source_file) { %>
            <span class="dl-project">
                <% if (song.studio && song.studio.logo_16x16 !== null) { %>
                    <span class="icon">
                <% } else { %>
                    <span>
                <% } %>
                    <a href="{{ MEDIA_URL }}<%=song.source_file%>"
                        <% if (song.studio && song.studio.logo_16x16 !== null) { %>
                            style="background-image: url(<%=song.studio.logo_16x16%>);"
                        <% } %>
                        >Download Project</a>
                </span>
            </span>
        <% } %>
        {% comment %}
            need to implement the workbench for this stuff to work.
            <% if (song.studio) { %>
                <span class="dependencies"><span class="<% if (song.dependency_check_passed) { %>good<% } else { %>bad<% } %>"><a href="#">Dependencies</a></span></span>
            <% } %>
            <span class="dl-samples"><a href="#">Download Samples</a></span>
        {% endcomment %}
        <span class="dl-mp3"><a href="{{ MEDIA_URL }}<%=song.mp3_file%>">Download MP3</a></span>
        <span class="title"><%=song.band.title%> - <%=song.title%></span>
    </div>
    <div class="bottom-layer">
        <div class="button-layer">
            <div class="button">
                <span class="play"><a href="#"></a></span>
            </div>
            <div class="time">
                0:00 / <%=Time.timeDisplay(song.length)%>
            </div>
        </div>
        <div class="wave-layer">
            <div class="wave-outer">
                <div class="wave" style="background-image: url({{ MEDIA_URL}}<% if (song.waveform_img) { %><%=song.waveform_img%><% } else { %>img/waveform-not-available.png<% } %>);">
                    <div class="overlay-border" style="width: 0;">
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-layer">
            <div class="volume">
                <span class="icon-id"><span class="icon"></span><span>
            </div>
            <div class="comment-btn">

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
