{% comment %}
    inputs:
        song - the song structure to play
{% endcomment %}
<div class="player-large">
    <div class="top-layer">
        <% if (song.source_file) { %>
            <span class="dl-project">
                <% if (song.studio && song.studio.logo_16x16 !== null) { %>
                    <span class="icon">
                <% } else { %>
                    <span>
                <% } %>
                    <a href="{{ MEDIA_URL }}<%=song.source_file%>"
                        <% if (song.studio && song.studio.logo_16x16 !== null) { %>
                            style="background-image: url(<%=song.studio.logo_16x16%>);"
                        <% } %>
                        >Download Project</a>
                </span>
            </span>
        <% } %>
        <% if (song.studio) { %>
            <div id="dependencies-dialog-<%=song.id%>" class="dependencies-dialog" style="display: none;">
                <% if (song.plugins.length > 0) { Player.breakPluginsIntoFXAndGen(song); %>
                    <h4>Studio</h4>
                    <ul>
                        <%
                            var dependency = song.studio;
                            dependency.full_url = Player.urls.studio(song.studio.identifier);
                        %>
                        {% include 'dependency_line.jst.html' %}
                    </ul>
                    <% var plugin_list = {name: "Generators", list: song.generators}; %>
                    {% include 'plugin_list.jst.html' %}
                    <% var plugin_list = {name: "Effects", list: song.effects}; %>
                    {% include 'plugin_list.jst.html' %}
                <% } else { %>
                    <p>No plugin dependencies.</p>
                <% } %>
            </div>
            <span class="dependencies"><span class="<% if (! Player.anyMissingDependencies(song)) { %>good<% } else { %>bad<% } %>"><a href="#" data-songid="<%=song.id%>">Dependencies</a></span></span>
            <% if (Player.anyAvailableSamples(song)) { %>
                <div id="dl-samples-dialog-<%=song.id%>" class="dl-samples-dialog" style="display: none;">
                    <div class="all">
                        <a class="dl-all" href="#" data-songid="<%=song.id%>">Download All Samples + Project File</a>
                    </div>
                    <p>- OR -</p>
                    <div class="select">
                        <select name="s" multiple="multiple">
                            <option value="project" selected="selected"><%=Player.fileTitle(song.source_file)%></option>
                            <% for (var sample_index=0; sample_index<song.samples.length; ++sample_index) { var sample = song.samples[sample_index]; %>
                                <% if (! sample.missing) { %>
                                    <option value="<%=sample.id%>"><%=sample.title%></option>
                                <% } %>
                            <% } %>
                        </select>
                        <p class="help">Hold down "Control", or "Command" on a Mac, to select more than one.</p>
                        <a class="dl-selected" href="#" data-songid="<%=song.id%>">Selected Files</a>
                    </div>
                </div>
                <span class="dl-samples"><a data-songid="<%=song.id%>" href="#">Download Samples</a></span>
            <% } %>
        <% } %>
        <span class="dl-mp3"><a href="{{ MEDIA_URL }}<%=song.mp3_file%>">Download MP3</a></span>
        <span class="title"><%=song.band.title%> - <%=song.title%></span>
    </div>
    <div class="bottom-layer">
        <div class="button-layer">
            <div class="button">
                <span class="play"><a href="#"></a></span>
            </div>
            <div class="time">
                0:00 / <%=Time.timeDisplay(song.length)%>
            </div>
        </div>
        <div class="wave-layer">
            <div class="wave-outer">
                <div class="wave" style="background-image: url({{ MEDIA_URL}}<% if (song.waveform_img) { %><%=song.waveform_img%><% } else { %>img/waveform-not-available.png<% } %>);">
                    <div class="overlay-border" style="width: 0;">
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-layer">
            <div class="volume">
                <span class="icon-id"><span class="icon"></span><span>
            </div>
            <div class="comment-btn">

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
