{% extends 'base.html' %}

{% block title %}Policy - {{ block.super }}{% endblock %}

{% block content %}
<div class="textblock">
    <h1>Policy</h1>
    <h2>Your Rights</h2>
    <p>
        SolidComposer does not claim any rights over anything you upload.
        It's all yours - we won't touch anything that intellectually belongs
        to you. We will take measures to make sure that any work you create
        that is private (e.g. in your project manager and not in a competition)
        is protected from public access.
    </p>
    <h2>Our Rights</h2>
    <p>
        Don't sue us! I don't have the money or the heart to fight it.
        For any publicly viewable songs, we have the right to remove anything
        we feel like for any reason. Stuff in your own project manager we won't
        even look at, except of course the bandwidth and file size load you put
        on the server.
    </p>
    <h2>Rules</h2
    <p>
        <ol>
            <li>Don't be a jerk.</li>
            <li><strong>Constructive</strong> criticism.</li>
            <li>There is a special circle of Hell reserved for spammers and
                song-thieves.
            </li>
        </ol>
    </p>
</div>
{% endblock %}

