{% extends 'base.html' %}

{% block title %}Create an account - {{ block.super }}{% endblock %}

{% block extra_header %}
    {{ block.super }}
    {% include 'sc_script_framework.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/register.pre.js"></script>
{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Create an account</h1>
        {% if err_msg %}
        <p>{{ err_msg }}</p>
        {% endif %}
        <form action="." method="post">
            <table class="form-table">
                <tr>
                    <th>
                        {{ form.username.label }}:
                    </th>
                    <td>
                        {{ form.username.errors }}{{ form.username }}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ form.artist_name.label }}:
                    </th>
                    <td>
                        {{ form.artist_name.errors }}{{ form.artist_name }}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ form.email.label }}:
                    </th>
                    <td>
                        {{ form.email.errors }}{{ form.email }}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ form.password.label }}:
                    </th>
                    <td>
                        {{ form.password.errors }}{{ form.password }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.confirm_password.label }}:
                    </th>
                    <td>
                        {{ form.confirm_password.errors }}{{ form.confirm_password }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.plan.label }}:
                    </th>
                    <td>
                        {{ form.plan.errors }}{{ form.plan }} <a href="{% url plans %}">Plan Details</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {{ form.agree_to_terms.errors }}{{ form.agree_to_terms }}
                        <label for="id_agree_to_terms">I agree to the </label><a href="{% url terms %}" target="_BLANK">Terms of Use</a>
                    </td>
                </tr>
                <tr class="ui-free">
                    <td></td>
                    <td><input type="submit" value="Create a Free Account" /></td>
                </tr>
                <tr class="ui-paid">
                    <td></td>
                    <td><input type="image" src="{{ MEDIA_URL }}img/golden_medium_paynow_withmsg_whitebg.gif" value="Pay with Amazon" /></td>
                </tr>
            </table>
        </form>
        <h2>Already have an account?</h2>
        <a href="{% url user_login %}">Log in.</a>
    </div>
{% endblock %}
