{% extends 'workbench/base.html' %}

{% block css %}band.pre.css{% endblock %}

{% block extra_header %}
    {{ block.super }}
    <script type="text/javascript">
        var band_id = {{ band.id }};
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/time.pre.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/login.pre.js"></script>
    {% include 'player/script_player.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/workbench_band.pre.js"></script>
{% endblock %}

{% block content %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        <a href="{% url workbench.home %}">Workbench</a>
        &gt;
        <span class="dest">{{ band.title }}</span>
    </div>

    <div id="filters">
        {% include 'loading.html' %}
    </div>
    <div id="new_project">
        <a href="{% url workbench.create_project band.id %}">New Project</a>
    </div>
    <div>
        <input type="text" id="search" class="inactive" />
    </div>
    <div id="project-list">
        {% include 'loading.html' %}
    </div>
{% endblock %}

