{% extends 'workbench/base.html' %}

{% block title %}Settings - {{ band.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        <a href="{% url workbench.home %}">Workbench</a>
        &gt;
        <a href="{% url workbench.band band.id %}">{{ band.title }}</a>
        &gt;
        <span class="dest">Settings</span>
    </div>
    <div class="textblock">
        <h1>Band Settings</h1>
        <h2>Rename Band</h2>
        {% if err_msg %}
            <div class="err">
                <p>{{ err_msg }}</p>
            </div>
        {% endif %}
        <form action="." method="post">
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" value="Rename" /></td>
                </tr>
            </table>
        </form>
        <p><em>More settings coming soon.</em></p>
    </div>
    
{% endblock %}
