{% extends 'base.html' %}

{% block title %}Workbench - {{ block.super }}{% endblock %}

{% block css %}workbench.pre.css{% endblock %}

{% block login %}
    {% include 'login_div.html' %}
{% endblock %}

{% block extra_header %}
    {% include 'sc_script_framework.html' %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tips.pre.js"></script>
{% endblock %}

{% block nav_workbench_li_class %}selected{% endblock %}

{% block nav2 %}
    {% block tools_wrapper %}
        <ul id="tools">
            {% block tools %}
                <li class="plus"><a href="{% url workbench.create_band %}">Create a New Band</a></li>
            {% endblock %}
        </ul>
    {% endblock %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        {% block bread_workbench %}
            <a href="{% url workbench.home %}">Workbench</a>
        {% endblock %}
        {% block bread_crumb %}
        {% endblock %}
    </div>
{% endblock %}
