{% extends 'workbench/base.html' %}

{% block title %}Create a Band - {{ block.super }}{% endblock %}

{% block login %}
    {% include 'login_area.html' %}
{% endblock %}

{% block content %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        <a href="{% url workbench.home %}">Workbench</a>
        &gt;
        <span class="dest">Create Band</span>
    </div>
    <div class="textblock">
        <h1>Create Band</h1>
        {% if err_msg %}
            <div class="err">
                <p>{{ err_msg }}</p>
            </div>
        {% endif %}
        <form action="." method="post">
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" value="Create" /></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
