<% if (json.user.is_authenticated) { %>
    <div id="bands">
        <h1>Your Bands</h1>
        <a class="create-band" href="{% url workbench.create_band %}">Create a New Band</a>
        <ul>
            <% $.each(json.members, function(i, member){ var band = member.band; %>
                <li class="band">
                    <a href="<%=urls.band(band.id)%>"><%=band.title%></a>
                </li>
            <% }); %>
            <% $.each(json.invites, function(i, item){ %>
                <li class="invite">
                    <span class="label">invitation</span>
                    <a href="<%=urls.band(item.band.id)%>"><%=item.band.title%></a>
                    <span class="role"><%=roleNames[item.role]%></span>
                    <span class="action">
                    <a href="#" class="accept" data-index="<%=i%>">accept</a>
                    <a href="#" class="ignore" data-index="<%=i%>">ignore</a>
                    </span>
                </li>
            <% }); %>
        </ul>
    </div>
    <div id="activity">
        <h1>Recent Activity</h1>
            <% if (logEntries.length > 0) { %>
                <ul>
                    <% for (var i=logEntries.length-1; i>=0; --i) { var entry = logEntries[i]; %>
                        <li>
                            <span class="band-name"><%= entry.band.title %></span>
                            <% if (entry.catalyst.id === json.user.id) { %>
                                <strong>you</strong>
                            <% } else { %>
                                <a href="<%= urls.userpage(entry.catalyst.username) %>"><%=entry.catalyst.username%></a>
                            <% } %>
                            <% if (entry.entry_type === entryTypeEnum.SONG_CRITIQUE) { %>
                                added
                                <a href="<%= urls.project_version(entry.version.project.id, entry.band.id, entry.version.version) %>">a comment</a>
                                to
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SONG_CHECKED_IN) { %>
                                checked in a
                                <a href="<%= urls.project_version(entry.version.project.id, entry.band.id, entry.version.version) %>">new version</a>
                                of
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SONG_CHECKED_OUT) { %>
                                checked out
                                <a href="<%= urls.project(entry.project.id, entry.band.id) %>"><%= entry.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SAMPLES_UPLOADED) { %>
                                <a href="<%= urls.project_version(entry.version.project.id, entry.band.id, entry.version.version) %>">uploaded samples</a>
                                to
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SONG_RENAMED) { %>
                                renamed
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.old_title %></a>
                                to
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.POKE) { %>
                                wants
                                <% if (entry.target.id === json.user.id) { %>
                                    <strong>you</strong>
                                    to hurry up and
                                    <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>">check in</a>.
                                <% } else { %>
                                    <a href="<%= urls.userpage(entry.target.username) %>"><%= entry.target.username %></a>
                                    to hurry up and check in
                                <% } %>
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.BAND_MEMBER_JOIN) { %>
                                has joined the band.
                            <% } else if (entry.entry_type === entryTypeEnum.BAND_MEMBER_QUIT) { %>
                                has quit the band.
                            <% } else if (entry.entry_type === entryTypeEnum.NEW_PROJECT) { %>
                                uploaded a new project 
                                <a href="<%= urls.project(entry.version.project.id, entry.band.id) %>"><%= entry.version.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SONG_JUST_CHECK_IN) { %>
                                checked in
                                <a href="<%= urls.project(entry.project.id, entry.band.id) %>"><%= entry.project.title %></a>.
                            <% } else if (entry.entry_type === entryTypeEnum.SPACE_ALLOCATED_CHANGE) { %>
                                went from donating <%= entry.old_amount %> bytes to <%= entry.new_amount %> bytes.
                            <% } %>
                            <span class="activity-date"><%= Time.printableTimeSince(entry.timestamp) %> ago</span>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>No recent activity to report.</p>
            <% } %>
    </div>
<% } else { %>
    <p>
        <strong>Workbench</strong> is a project manager, providing version control
        and backups of your work. It makes collaboration with other people
        a piece of cake.
    </p>
    <p>
        <a id="workbenchSignIn" href="{% url user_login %}">Sign in</a> or
        <a href="{% url register %}">register</a> to participate.
    </p>
<% } %>
