{% extends 'workbench/base.html' %}

{% block title %}{{ project.title }} - {{ block.super }}{% endblock %}

{% block css %}project.css{% endblock %}

{% block extra_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/redmond/jquery-ui-1.8.2.custom.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/webtoolkit.aim.js"></script>
    <script type="text/javascript">
        var band_id = {{ band.id }};
        var project_id = {{ project.id }};
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/time.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/login.js"></script>
    {% include 'script_player.html' %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pre/project.js"></script>
{% endblock %}


{% block content %}
    <div id="bread">
        <a href="{% url home %}">Home</a>
        &gt;
        <a href="{% url workbench.home %}">Workbench</a>
        &gt;
        <a href="{% url workbench.band band.id %}">{{ band.title }}</a>
        &gt;
        <span class="dest">{{ project.title }}</span>
    </div>
    <div id="projects">
        {% include 'loading.html' %}
    </div>
    <div id="footer-data">
        {% include 'loading.html' %}
    </div>
{% endblock %}
