{% extends 'workbench/base.html' %}

{% block title %}Redeem Invitation - {{ block.super }}{% endblock %}

{% block login %}
    {% include 'login_area.html' %}
{% endblock %}

{% block bread_crumb %}
    &gt;
    <span class="dest">Redeem Invitation</span>
{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Redeem Invitation</h1>
        {% include 'form_errors.html' %}
        {% if not err_msg %}
            <p>
                You are now a part of {{ band.title }}.
            </p>
            <p>
                Congrats. Now head over to the <a href="{% url workbench.band band.id %}">project manager</a> and get to work!
            </p>
        {% endif %}
    </div>
{% endblock %}


