{% extends 'workbench/base.html' %}

{% block title %}Redeem Invitation - {{ block.super }}{% endblock %}

{% block login %}
    {% include 'login_area.html' %}
{% endblock %}

{% block bread_crumb %}
    &gt;
    <span class="dest">Redeem Invitation</span>
{% endblock %}

{% block content %}
    <div class="textblock">
        {% if err_msg %}
            <h1>Invitation Expired</h1>
            <p>
                The invitation is expired. Get your band manager to send you another invitation!
            </p>
        {% else %}
            <h1>You are now a part of {{ band.title }}</h1>
            <p>
                Congrats! Now head over to the <a href="{% url workbench.band band.id %}">project manager</a> and get to work!
            </p>
        {% endif %}
    </div>
{% endblock %}


