<% if (versions.length) { %>
    <div id="next-version" class="version">
        <% if (project.checked_out_to !== null) { %>
            <% var version_user = project.checked_out_to; %>
            {% include 'workbench/version_owner.jst.html' %}
        <% } else { %>
            <% var version_user = user; %>
            {% include 'workbench/version_owner.jst.html' %}
        <% } %>
        <div id="status">
            <% if (project.checked_out_to === user.id) { %>
                Checked out to <strong>you</strong>.
            <% } else if (project.checked_out_to !== null) { %>
                Checked out.
            <% } else { %>
                Available.
            <% } %>
        </div>
        <div id="action">
            <% if (project.checked_out_to === user.id) { %>
                Check in.
            <% } else if (project.checked_out_to !== null) { %>
                Poke them.
            <% } else { %>
                Check out.
            <% } %>
        </div>
    </div>
    <% for (var i=versions.length-1; i>=0; --i) { var version = versions[i]; %>
        <div id="version<%=i%>" class="version">
            <% var version_user = version.song.owner; %>
            {% include 'workbench/version_owner.jst.html' %}
            <div class="version-data">
                <a name="version<%=i%>"></a>
                Version <%=version.version%> on <%=Time.formatDateTime(Time.localTime(version.song.date_added))%>
            </div>
            <% var song = version.song; song.band = project.band; %>
            {% include 'player.jst.html' %}
            <% if (version.song.missing_samples.length > 0) { %>
                <div id="missing-<%=i%>">
                    <h2><a href="#">Missing Samples</a></h2>
                    <div class="missing-list">
                        <ul>
                            <% for (var sampleIndex=0; sampleIndex<version.song.missing_samples.length; ++sampleIndex) {
                               var sample = version.song.missing_samples[sampleIndex]; %>
                                <li>
                                    <%= sample.title %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <p>Upload them here. Feel free to use a .zip file.</p>
                    <div class="missing-form">
                        <form id="missing-upload-<%=i%>" method="post" enctype="multipart/form-data" action="{% url workbench.ajax_upload_samples %}">
                            <fieldset>
                                <input type="hidden" name="version" value="<%=version.id%>" />
                                <table>
                                    {% include 'workbench/sample_upload_row.jst.html' %}
                                    <tr>
                                        <td>
                                            <a href="#" id="add-file-<%=i%>">Add another</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <input type="submit" value="Upload" />
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
<% } %>
