{% extends 'workbench/band/base.html' %}

{% block title %}New Project - {{ block.super }}{% endblock %}

{% block login %}
    {% include 'login_area.html' %}
{% endblock %}

{% block bread_crumb %}
    {{ block.super }}
    &gt;
    <span class="dest">New Project</span>
{% endblock %}

{% block content %}
    {% if permission %}
        <div class="textblock">
            <h1>New Project</h1>
            {% include 'form_errors.html' %}
            <form action="." method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>
                            <label for="id_title">{{ form.title.label }}:</label>
                        </th>
                        <td>
                            {{ form.title.errors }}{{ form.title }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_file_source">{{ form.file_source.label }}:</label>
                        </th>
                        <td>
                            {{ form.file_source.errors }}{{ form.file_source }}
                        </td>
                        <td>
                            {% include 'tips/uploadProjectFileInput.html' %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_file_mp3">{{ form.file_mp3.label }}:</label>
                        </th>
                        <td>
                            {{ form.file_mp3.errors }}{{ form.file_mp3 }}
                        </td>
                        <td>
                            {% include 'tips/uploadPreviewMp3.html' %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_comments">{{ form.comments.label }}:</label>
                        </th>
                        <td>
                            {{ form.comments.errors }}{{ form.comments }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Create" /></td>
                    </tr>
                </table>
            </form>
        </div>
    {% else %}
        <p>
            Only {{ band.title }} band members can create new projects.
        </p>
    {% endif %}
{% endblock %}
