{% extends 'workbench/band/base.html' %}

{% block css %}band_settings.pre.css{% endblock %}

{% block title %}Settings - {{ band.title }} - {{ block.super }}{% endblock %}

{% block login %}
    {% include 'login_area.html' %}
{% endblock %}

{% block bread_crumb %}
    {{ block.super }}
    &gt;
    <span class="dest">Settings</span>
{% endblock %}

{% block content %}
    <div class="textblock">
        <h1>Band Settings</h1>
        {% if permission %}
            <h2>Rename Band</h2>
            {% include 'form_errors.html' %}
            <form action="." method="post">
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Rename" /></td>
                    </tr>
                </table>
            </form>
            <h2>Members</h2>
            <ul class="member-list">
            {% for member in band.bandmember_set.all %}
                {% with member.user as user %}
                    <li>
                        {% include 'username.html' %}
                    </li>
                {% endwith %}
            {% endfor %}
            </ul>
        {% else %}
            {% include 'form_errors.html' %}
        {% endif %}
    </div>
    
{% endblock %}
